.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 9px;
}

.header i {
    color: var(--greyDark);
    padding-right: 10px;
    padding-bottom: 3px;
    font-size: 20px;
    cursor: pointer;
}

.container {
    display: flex;
}

.container p {
    font-size: 16px;
}

.container-logo img {
    margin: 5px;
    padding-top: 20px;
    width: 35px;
    height: 35px;
}

.fontGrey {
    color: var(--darkGrey);
}

button {
    display: flex;
    background-color: var(--white);
    border: none;
}
