ul {
    padding: 0;
    text-align: center;
}

ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu {
    background-color: var(--white);
    width: 100%;
}

.nav-bar a {
    text-decoration: none;
    color: var(--darkGrey);
}

.nav-bar {
    display: block;
}

.nav-list {
    list-style: none;
}


.nav-list__link {
    font-size: 18px;
}

.more-info {
    min-width: 100px;
    max-width: 200px;
    min-height: 150px;
    max-height: 100px;
    margin: auto;
    overflow-y: scroll;
    color: var(--darkGrey);
}

.scrollable-content {
    padding-right: 10px;
}

@media (min-width: 1024px) {
    .more-info {
        min-width: 225px;
        max-width: 240px;
        max-height: 300px;
        overflow-y: auto;
        color: var(--darkGrey);
    }

    .scrollable-content {
        padding-right: 10px;
    }
}