.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 115vh;
    background-color: rgba(0, 0, 0, .75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container {
    position: relative;
    min-width: 250px;
    max-width: 300px;
    min-height: 300px;
    max-height: 600px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 32px;
}

.modal-container::-webkit-scrollbar {
    width: 0;
    height: 5px;
}

.modal-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.modal-close {
    position: absolute;
    top: .5rem;
    right: .1rem;
}

.modal-close i {
    font-size: 20px;
    color: var(--greyDark);
    padding-right: 10px;
    padding-bottom: 3px;
}

.modal.is-open {
    display: flex;
}

.container-children {
    margin: 10px;
                                                   
}

@media (min-width: 768px) {
    .modal {
        min-height: 100vh;
    }
}

@media (min-width: 1024px) {
    .modal {
        min-height: 100vh;
    }

    .modal-container {
        min-width: 240px;
        max-width: 240px;
        min-height: 300px;
        max-height: 300px;
    }
}